In [1]:
import pandas as pd

In [3]:
mvps = pd.read_csv('postgres_tables/mvps_hot.csv')
players = pd.read_csv('postgres_tables/players_cold.csv')

In [5]:
combined = players.merge(mvps, how='outer', on=['player', "year"])

In [6]:
combined.head(5)

,id_x,player,pos,age_x,tm_x,g_x,gs,mp_x,fg,fga,...,pts_y,trb_y,ast_y,stl_y,blk_y,fg_per_y,threepts_per,ft_per_y,ws,ws_48
0,159,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,609,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1051,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1519,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1988,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN